name: test

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    {{ if eq .opts.DBType "postgres" -}}
    services:
      postgres:
        image: postgres:9.6-alpine
        env:
          POSTGRES_DB: {{.opts.App.Name.File}}_test
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    {{- end }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ~1.18
          cache: true
      - name: setup
        run: |
          go get github.com/gobuffalo/buffalo/buffalo
          go mod download
      - name: test
        {{ if eq .opts.DBType "postgres" -}}
        env:
          POSTGRES_DB: {{.opts.App.Name.File}}_test
          POSTGRES_HOST: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_PORT: 5432
        {{- end }}
        run: |
          buffalo test
