<div class="py-4 mb-2">
  <h3 class="d-inline-block">Resources</h3>
  <div class="float-end">
    <%= linkTo(newResourcesPath(), {class: "btn btn-primary"}) { %>
      Create New Resource
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>DryRun</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (resource) in resources { %>
      <tr>
        <td class="align-middle"><%= resource.DryRun %></td>
        <td>
          <div class="float-end">
            <%= linkTo(resourcePath({ resource_id: resource.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editResourcePath({ resource_id: resource.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(resourcePath({ resource_id: resource.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
