<div class="py-4 mb-2">
  <h3 class="d-inline-block">Resource Details</h3>

  <div class="float-end">
    <%= linkTo(resourcesPath(), {class: "btn btn-info"}) { %>
      Back to all Resources
    <% } %>
    <%= linkTo(editResourcePath({ resource_id: resource.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(resourcePath({ resource_id: resource.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">DryRun</label>
    <p class="d-inline-block"><%= resource.DryRun %></p>
  </li>


</ul>
