{
    "compilerOptions": {
      "outDir": "./assets/built",
      "allowJs": true,
      "target": "es6",
      "module": "commonjs",
      "noImplicitAny" : true
    },
    "include": [
      "./assets/src/**/*"
    ],
    "compileOnSave": true,
    "strict": false,
}