package templates

import (
	"embed"
	"io/fs"

	"github.com/gobuffalo/buffalo/reload"
)

//go:embed * _flash.plush.html
var files embed.FS

func FS() fs.FS {
	return reload.NewFS(files, "templates")
}
